html, body {
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

html {
    width: 100dvw;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
}

.cta-button {
    width: fit-content;
    background-color: var(--accent-color);
    padding: 8px 32px;
    color: white;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--accent-hover-color);
}

nav {
    width: 100%;
    background-color: var(--primary-color);
    padding: calc(var(--page-x-deadzone) * (1 / 3)) var(--page-x-deadzone);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0px 5px var(--accent-color-transparent);
    position: relative;
    z-index: 2;
}

nav > .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    letter-spacing: 1px;
}

nav > .logo > img {
    height: 40px;
}

nav > .cta-button {
    display: none;
}

nav > .nav-links {
    max-height: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    opacity: 0;
    left: 0;
    overflow: hidden;
    transform: translateY(-20px);
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
    /* z-index: 1; */
}

nav > .nav-links.active {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

nav > .nav-links > .nav-link {
    width: 100%;
    padding: 10px var(--page-x-deadzone);
    text-align: center;
    text-decoration: none;
    color: var(--primary-text-color);
    position: relative;
    border-bottom: 1px solid var(--accent-color-transparent);
}

nav > .nav-links > .nav-link.active {
    color: var(--accent-color);
}

nav > .nav-links > .cta-button {
    margin-top: 10px;
}

.hamburger {
    padding: 10px 0px;
}

@media only screen and (min-width: 950px) {
    nav {
        background-color: transparent;
        justify-content: space-evenly;
        position: absolute;
        top: 0;
        left: 0;
    }

    nav > .logo {
        color: white;
    }

    nav > .hamburger {
        display: none;
    }

    nav > .nav-links {
        max-height: unset;
        width: fit-content;
        background-color: transparent;
        margin: 0 auto;
        flex-direction: row;
        gap: 40px;
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
        transition: unset;
        opacity: 1;
        pointer-events: auto;
        overflow: unset;
    }

    nav > .nav-links > .nav-link {
        padding: 0;
        color: white;
        border: none;
    }

    nav > .nav-links > .nav-link.active::after {
        content: "";
        height: 2px;
        width: 91%;
        background-color: var(--accent-color);
        display: block;
        position: absolute;
        left: 50%;
        bottom: -3.1px;
        transform: translateX(-50%);
        border-radius: 5px;
        z-index: 1;
    }

    nav > .nav-links > .cta-button {
        display: none;
    }

    nav > .cta-button {
        display: block;
    }
}