/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Libraries */
@import url(../vendor/corbzhamburger/hamburger.css);

@import url(./reset.css);
@import url(./variables.css);
@import url(./base.css);

/* Hero */

.hero {
    height: calc(100vh - var(--mobile-nav-height));
    width: 100%;
    background-image: url(../images/hero.webp);
    background-color: rgba(0, 0, 0, 0.2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    position: relative;
}

.hero::before {
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top right, rgba(0, 168, 160, 0.7) 0%, rgba(0, 168, 160, 0.5) 28%, rgba(0, 168, 160, 0.2) 50%, rgba(0, 168, 160, 0) 100%);
    position: absolute;
}

.hero > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero > .content > .title {
    text-align: center;
}

.hero > .content > .subtitle {
    font-weight: normal;
    text-align: center;
}

.hero > .content > a {
    margin-top: 10px;
}

@media only screen and (min-width: 950px) {
    .hero {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .hero::before {
        background-image: linear-gradient(to top right, rgba(0, 168, 160, 0.4) 0%, rgba(0, 168, 160, 0.2) 28%, rgba(0, 168, 160, 0) 100%);
    }

    .hero > .content {
        top: calc(50% + var(--mobile-nav-height));
    }
}

.section-banner {
    width: 100%;
    margin-top: var(--page-y-spacing);
    padding: 20px var(--page-x-deadzone);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-banner > .title {
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
}

.section-banner > .description {
    width: 100%;
    color: var(--secondary-text-color);
    font-weight: normal;
    text-align: center;
}

@media only screen and (min-width: 670px) {
    .section-banner {
        flex-direction: row;
    }

    .section-banner > .title {
        padding-right: 50px;
        text-align: left;
    }

    .section-banner > .title::after {
        content: "";
        height: 100%;
        width: 2.5px;
        background-color: var(--accent-color);
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        border-radius: 5px;
    }

    .section-banner > .description {
        padding-left: 50px;
        text-align: left;
    }
}

.about-home {
    width: 100%;
}

.about-home > .content {
    width: 100%;
    margin-top: var(--inner-section-spacing);
    padding: 0 var(--page-x-deadzone);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-home > .content > .left {
    height: 250px;
    width: 100%;
}

.about-home > .content > .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-home > .content > .right > .top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-home > .content .card {
    background-image: linear-gradient(to bottom right, rgba(0, 168, 160, 0.2) 0%, rgba(0, 168, 160, 0.2) 32%, rgba(0, 168, 160, 0.1) 56%, transparent 89%, rgba(0, 168, 160, 0.2) 100%);
    padding: 14px 17px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px;
}

.about-home > .content .card > .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-home > .content .card > .content > .description {
    /* color: var(--primary-text-color) !important; */
    font-weight: normal;
}

.about-home > .content .light-card {
    width: 100%;
    border: 2.5px solid rgb(233, 233, 233);
    padding: 10px 17px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
}

.about-home > .content .light-card > .description, .about-home > .content .card > .content > .description {
    font-size: 14px;
    color: var(--secondary-text-color);
}

.about-home > .content > .right > .top > .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-home > .content > .right > .top > .left > .bottom, .about-home > .content > .right > .top > .right {
    height: 250px;
}

@media only screen and (min-width: 680px) {
    .about-home > .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        position: relative;
    }

    .about-home > .content > .left, .about-home > .content > .right {
        min-height: 280px;
        display: flex;
    }

    .about-home > .content > .right > .top {
        height: 100%;
    }

    .about-home > .content > .right > .top > .left {
        height: 100%;
    }

    .about-home > .content > .right > .top > .left > .bottom {
        height: 100%;
    }

    .about-home > .content > .right > .top > .right {
        height: unset;
    }

    .about-home > .content > .right > .top {
        flex-direction: row;
    }

    .about-home > .content > .right > .top > .right {
        height: 100%;
    }

    .about-home > .content > .right > .bottom {
        width: calc(100% - (var(--page-x-deadzone) * 2));
        position: absolute;
        left: var(--page-x-deadzone);
        top: calc(100% + 10px);
    }
}

@media only screen and (min-width: 800px) {
    .about-home > .content > .left {
        min-height: 400px;
        height: auto;
        width: 400px;
        /* min-height: 300px;
        max-height: 400px; */
    }

    .about-home > .content > .right {
        height: auto;
    }

    .about-home > .content > .right > .bottom {
        width: 100%;
        position: static;
        left: 0;
        top: 0;
    }
}